*{
    margin: 0;
    padding: 0;
}

body{

    position: relative;
}

table{
    background-color: black;
    width:40%;
    text-align: center;
    color:white;
    position: absolute;
    left:500px;
    top:200px;
    
}
/* table tr td{
    border:1px solid white;
} */
table tr{
    height:50px;
}
button{
    padding:5px 10px;
    color:red;
}
table tr:first-child{
    font-weight:900;
    font-size:3rem;
}
